{% extends 'workflows/base.html' %}
{% block title %}Welcome {{ user.username }}! {% endblock %}
{% block body %}
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Main</title>
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->

       <!-- CUSTOM STYLE CSS -->

    <!-- GOOGLE FONT -->

    <link href="http://fonts.googleapis.com/css?family=Montserrat" rel='stylesheet' type='text/css'>

    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


<style>

table{
    margin-left: 130px;
    float: left;
    padding: 15px;
}
  td {
      border: 10px solid white;
  }
button {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    position:relative;
    left: 45%;
}
img{
   padding: 5px;
}
h2 {
    margin-top: 60px;
    margin-left: 150px;
    line-height:50px;
}
p{
    padding-left: 150px;
    font-size: 30px;
    line-height:50px;
}



</style>


<div class="content-section-a">

        <div class="container">
            <div class="row" style = "left:10%">


   <h4 class="section-heading">Most Popular Apps</h4>

    <table>
      <tr>
        <td width = "150" height = "150" bgcolor = "#93c47d" align="center"><a href="{% url 'workflows:job' %}"><img src=" {% static 'image/Employee.png' %}"><h5>Job Application</h5></a></td>
        <td width = "150" height = "150" bgcolor = "#78909c" align="center"><a href="#2"><img src=" {% static 'image/PalmTree.png' %}"><h5>Vacation Request</h5></a></td>
        <td width = "150" height = "150" bgcolor = "#f7b600" align="center"><a href="#3"><img src=" {% static 'image/Cart.png' %}"><h5>Project Submitting</h5></a></td>
        <td width = "150" height = "150" bgcolor = "#de445e" align="center"><a href="#4"><img src="{% static 'image/Trolley.png' %}"><h5>Business Meeting</h5></a></td>
        <td width = "150" height = "150" bgcolor = "#0097a7" align="center"><a href="{% url 'workflows:announce' %}"><img src="{% static 'image/Receipt.png' %}"><h5>News Posting</h5></a></td>
        <td width = "150" height = "150" bgcolor = "#93c47d" align="center"><a href="{% url 'workflows:funding' %}"><img src="{% static 'image/Bills.png' %}"><h5>Funding</h5></a></td>
        <td width = "150" height = "150" bgcolor = "whitesmoke" align="center"><a href="{% url 'workflows:create' %}"><img src="{% static 'image/Plus.png' %}"><h5>Create your own App</h5></a></td>

      </tr>
    </table>

    <div class = "button">
          <button>SHOW MORE</button>
    </div>

                </div>
        </div>
</div>

<div class="content-section-b">

        <div class="container">
            <div class="row">
            <h4 class="section-heading">Your Workflow(s)</h4>

                {% if workflows %}
                    <table>
                        <tr>

                    {% for workflow in workflows %}

                        <td width = "150" height = "150" bgcolor = "#de445e" align="center"><a href="{% url 'workflows:editWorkflow' workflow.id %}"><img src="{% static 'img/file.png' %}"><h5>{{ workflow.name}}</h5></a></td>

                    {% endfor %}
                        </tr>

                    </table>
                {% else %}
                    <p class="lead">You have not created any workflow yet</p>
                {% endif %}


                </div>
        </div>
</div>


        <!-- JavaScript -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="{% static 'assets/plugins/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="{% static 'assets/plugins/bootstrap.js' %}"></script>

    <!-- CUSTOM SCRIPTS -->
    <script src="{%static 'assets/js/custom.js' %}"></script>
{% endblock %}